

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    width: 60vw;
    height: 100%;
    background-color: aqua;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
}

 .item-container {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    border: 1px solid black;
}

.item-container p {
    height: 20px;
    margin: 10px;
}

.item-container .buttons {
    margin-right: 20px;
    font-size: 0;
}

.item-container .buttons button {
    margin-left: 5px;
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 6px;
}

.item-container .buttons:nth-child(2) button:nth-child(1) span {
    background-color: green;
}

.item-container .buttons:nth-child(2) button:nth-child(2) span {
    background-color: red;
}

.material-icons {
    width: 100%;
    height: 100%;
    color: white;
}



.paras {
    text-decoration: line-through;
}