

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    width: 60vw;
    height: 100%;
    background-color: aqua;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

 .item-container {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    border: 1px solid black;
}

.item-container p {
    height: 20px;
    margin: 10px;
}

.item-container .buttons {
    margin-right: 20px;
}

.paras {
    text-decoration: line-through;
}